<div class="container-fluid">
<div class="row justify-content-center">
  <a href="/">
  <button class="btn btn-lg"> <i class="fas fa-home"></i> Back Home</button>
  </div>
  </a>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Available Players</div>
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Player</th>
              <th scope="col">FG</th>
              <th scope="col">PPG</th>
              <th scope="col">RPG</th>
              <th scope="col">APG</th>
            </tr>
          </thead>
          <tbody>
            <tr class="player">
              <th scope="row">Kevin Durant</th>
              <td>49%</td>
              <td>27</td>
              <td>7.1</td>
              <td>4.1</td>
              <td>
              <span class="badge badge-success">Add</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">LeBron James</th>
              <td>52%</td>
              <td>25</td>
              <td>7.8</td>
              <td>7.7</td>
              <td>
                <span class="badge badge-success">Add</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">James Harden</th>
              <td>44%</td>
              <td>36.3</td>
              <td>6.1</td>
              <td>7.8</td>
              <td>
                <span class="badge badge-success">Add</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">Kawhi Leonard</th>
              <td>49%</td>
              <td>27.5</td>
              <td>8</td>
              <td>4.4</td>
              <td>
                <span class="badge badge-success">Add</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">Russell Westbrook</th>
              <td>43%</td>
              <td>22.9</td>
              <td>11.1</td>
              <td>10.7</td>
              <td>
                <span class="badge badge-success">Add</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">Giannis Antetokounmpo</th>
              <td>50%</td>
              <td>27.5</td>
              <td>11.1</td>
              <td>5</td>
              <td>
                <span class="badge badge-success">Add</span>
              </td>
            </tr>
            <tr>
              <th scope="row">Demarcus Cousins</th>
              <td>43%</td>
              <td>15.7</td>
              <td>8.8</td>
              <td>3.3</td>
              <td>
                <span class="badge badge-success">Add</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">Blake Griffin</th>
              <td>44%</td>
              <td>25.4</td>
              <td>9.2</td>
              <td>5.5</td>
              <td>
                <span class="badge badge-success">Add</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">My Team</div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Player</th>
              <th scope="col">FG</th>
              <th scope="col">PPG</th>
              <th scope="col">RPG</th>
              <th scope="col">APG</th>
            </tr>
          </thead>
          <tbody>
            <tr class="player">
              <th scope="row">Stephen Curry</th>
              <td>48%</td>
              <td>28.1</td>
              <td>5.4</td>
              <td>6.2</td>
              <td>
                <span class="badge badge-danger">Drop</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">Kyrie Irving</th>
              <td>45%</td>
              <td>22.3</td>
              <td>5</td>
              <td>7</td>
              <td>
                <span class="badge badge-danger">Drop</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">Anthony Davis</th>
              <td>50%</td>
              <td>28.2</td>
              <td>11.4</td>
              <td>3.8</td>
              <td>
                <span class="badge badge-danger">Drop</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">Jimmy Butler</th>
              <td>46%</td>
              <td>23</td>
              <td>6.4</td>
              <td>5.4</td>
              <td>
                <span class="badge badge-danger">Drop</span>
              </td>
            </tr>
            <tr class="player">
              <th scope="row">Kemba Walker</th>
              <td>43%</td>
              <td>25.6</td>
              <td>4.4</td>
              <td>5.9</td>
              <td>
                <span class="badge badge-danger">Drop</span>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
  </div>
</div>
