<div class="container-fluid">
<div class="row justify-content-center">
  <button class="btn btn-lg"> <i class="fas fa-home"></i> Back Home</button>
  </div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">User 1</div>
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Player</th>
              <th scope="col">FG</th>
              <th scope="col">PPG</th>
              <th scope="col">RPG</th>
              <th scope="col">APG</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Kevin Durant</th>
              <td>49.3</td>
              <td>27</td>
              <td>7.1</td>
              <td>4.1</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">User 2</div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Player</th>
              <th scope="col">FG</th>
              <th scope="col">PPG</th>
              <th scope="col">RPG</th>
              <th scope="col">APG</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
  </div>
</div>
