body {
    background-color: #0D5D56;
    background-size: cover;  
    background-repeat: no-repeat;
}
.btn {
    border-radius: 0;
    background-color: #18b188;
    border: none;
    color: #25333c;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.table {
    background-color: #CCDDE2;
    height: 90%;
    font-family: 'Open Sans', sans-serif;
}
.card {
   background-color: #25333c;
   border: none;
   border-radius: 0;
   height: 150%;
}
.card-header {
    color: #CCDDE2;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.player:hover {
    border: 2px solid white;
}

.badge:hover {
    border: 2px solid white;
}
